#过滤.gradle#
.gradle/
.idea/
build/

local.properties
*.iml
.idea/workspace.xml
.idea/misc.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
app/src/main/java/com/smartcity/.DS_Store
*.iml
